extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src='about.bundle.js')

block content
  section
    include ../common/hero.pug
  section.section.about
    .section__title_arrow.section__title_arrow_about
    .about__left
      .about__title
        .title.title_about
          .title__title Обо мне
            .title__background
              +icon('about_header', 'title__background-icon')
      .about__about
        .about__photo
          .photo__wrap
            img(src="./assets/images/photo/photo.jpg", alt="").photo__img
        .about__desc
          .about__desc-subtitle
            .subtitle Кто я
          .about__text
            p
              | Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
              br
              br
              | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
    .about__right
      .about__right-title
        .about__right-subtitle
          .subtitle.subtitle_font_about
           | Чем я могу быть вам полезен
        .about__right-desc
          .right-desc__text
            p
              | Больше всего меня привлекает Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
      .about__skills
        #skills-component
  section.section.map
    .contact
      .subtitle
        | Контакты
      ul.contact__list
        li.contact__item
          a(href="skype:dmitriy-shapiro").contact__link
            svg.contact__item-icon
              use(xlink:href="./assets/images/icons/sprite.svg#skype")
            .contact__item-desc
              | dmitriy-shpapiro
        li.contact__item
          a(href="mailto:deman75@yandex.ru").contact__link
            svg.contact__item-icon
              use(xlink:href="./assets/images/icons/sprite.svg#envelope")
            .contact__item-desc
              | dema75@yandex.ru
        li.contact__item
          a(href="tel:+73213322112").contact__link
            svg.contact__item-icon
              use(xlink:href="./assets/images/icons/sprite.svg#phone")
            .contact__item-desc
              | +7 321 332 21 12
        li.contact__item
          a(href="#").contact__link
            svg.contact__item-icon
              use(xlink:href="./assets/images/icons/sprite.svg#map_marker")
            .contact__item-desc
              | г.Одинцово, ул. Сколковская, д.7
    .yandex__map
      script(type="text/javascript" charset="utf-8" async="" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A30a3ecd52b152b51e64d8f157471440298fcdb5b0cb945e8d0e6552f8cf6f668&width=100%&height=100%&lang=ru_RU&scroll=false")
