extends ../main.layout.pug

block variables
  - var title = 'Блог'

block scripts
  script(src='blog.bundle.js')

block content
  section.section.hero
    .parallax#parallax
      .parallax__layer
        img(src="./assets/images/parallax/layer8.png", alt="").parallax__img
      .parallax__layer
        img(src="./assets/images/parallax/layer7.png", alt="").parallax__img
      .parallax__layer
        img(src="./assets/images/parallax/cloud_PNG4.png", alt="", style="left: 82%; bottom: 54%; width: 20%").parallax__img.parallax__cloud_3
      .parallax__layer
        img(src="./assets/images/parallax/layer6.png", alt="").parallax__img
      .parallax__layer
        img(src="./assets/images/parallax/layer4.png", alt="").parallax__img
      .parallax__layer
        img(src="./assets/images/parallax/sky.png", alt="", style="left: 40%; bottom: 44%; width: 20%").parallax__img.parallax__cloud_2
      .parallax__layer
        img(src="./assets/images/parallax/layer2.png", alt="").parallax__img
      .parallax__layer
        img(src="./assets/images/parallax/layer1.png", alt="").parallax__img
      .parallax__layer
        img(src="./assets/images/parallax/cloud_PNG5.png", alt="", style="left: 30%; bottom: 4%; width: 70%").parallax__img.parallax__cloud_1
    .hero__header
      .header__socials
        ul.socials
          - var socials = ['vk', 'skype', 'telegram_logo']
          each item in socials
            li.socials__item
              a(href="#").socials__link.socials__link_header
                +icon(`${item}`, 'socials__icon')
      .hero__hamburger
        svg.hamburger__icon(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="35px" viewBox="0 0 40 35" enable-background="new 0 0 40 35" xml:space="preserve")
          path.hamburger__icon-top(d="M40,2.5C40,3.881,38.881,5,37.5,5h-35C1.119,5,0,3.881,0,2.5l0,0C0,1.119,1.119,0,2.5,0h35C38.881,0,40,1.119,40,2.5L40,2.5z")
          path.hamburger__icon-center(d="M40,17.5c0,1.381-1.119,2.5-2.5,2.5h-35C1.119,20,0,18.881,0,17.5l0,0C0,16.119,1.119,15,2.5,15h35C38.881,15,40,16.119,40,17.5L40,17.5z")
          path.hamburger__icon-bottom(d="M40,32.5c0,1.381-1.119,2.5-2.5,2.5h-35C1.119,35,0,33.881,0,32.5l0,0C0,31.119,1.119,30,2.5,30h35C38.881,30,40,31.119,40,32.5L40,32.5z")

    .hero__user
      .user
        .avatar.avatar_width
          img.avatar__img(src="./assets/images/photo/photo.jpg", alt="")
        .user__info.user__info_margin
          .title.title_color_white
            .title__title Блог
              .title__background
                +icon('blog_header', 'title__background-icon')
          .user__desc.user__desc_color_white Статьи которые я написал
    .hero__arrow
      +icon('arrow_down', 'hero__arrow-icon')
      
  section.section.section__blog
    .section__title_arrow.section__title_arrow_blog
    #blog-component
