extends ../auth.layout.pug

block content
  .wrapper
    .section.section__index
      .authoriz__link
        button(type="button").authoriz__link-button Авторизоваться
      .card
        .flipper
          .welcome__wrap
            .card__content
              .welcome__content-avatar
                .avatar
                  img.avatar__img(src="./assets/images/photo/photo.jpg", alt="")
              .welcome__content-desc
                .title-norm Шапиро Дмитрий
                .user__desc Личный сайт веб разработчика
              .welcome__content-socials
                include ../common/socials.pug            
            .card__buttons
              ul.button
                - 
                  var buttons = [
                    ['Мои работы', './works.html'],
                    ['Обо мне', './about.html'],
                    ['Блог', './blog.html'],
                  ]
                each item in buttons
                  li.button__item
                    a(href=`${item[1]}`).button__links #{item[0]}
          .authoriz__wrap
            form(method="post").authoriz#js-authoriz
              .authoriz__error-msg#js-error-msg Вы не ввели логин
              .authoriz__content
                .authoriz__title
                  .subtitle.subtitle_font_about Авторизуйтесь
                .authoriz__row
                  .authoriz__input
                    .authoriz__icon
                      +icon('login','authoriz__icon-icon')
                    input(type="text" name="login" placeholder="Логин").authoriz__cont
                  .authoriz__input
                    .authoriz__icon
                      +icon('password','authoriz__icon-icon')
                    input(type="text" name="pass" placeholder="Пароль").authoriz__cont
                .authoriz__row
                    label.authoriz__check
                      input(type="checkbox" name="robot-check").authoriz__robot-check
                      +icon('check','check__icon-icon')
                      .check__desck Я человек
                .authoriz__row
                  .authoriz__subtitle Вы точно не робот?
                .authoriz__row.authoriz__row_flex_row
                  label.authoriz__check
                    input(type="radio" name="robot-radio").authoriz__robot-radio
                    .authoriz__radio
                      .authoriz__radio-in
                    .check__desck Да
                  label.authoriz__check
                    input(type="radio" name="robot-radio").authoriz__robot-radio
                    .authoriz__radio
                      .authoriz__radio-in
                    .check__desck Не уверен
                  
                  
              .authoriz__row.authoriz__row_flex_row
                button(type="button").form__button.form__button_bg_5#authoriz_back На главную
                input(type="submit" name="authoriz" value="Войти").form__button.form__button_bg_5#js-authorizSend
      .section__index-copiright
        .copiright
          p © Дмитирй Шапиро | создано с любовью в LoftSchool | 2018
