extends ../main.layout.pug

block content
  section
    include ../common/hero.pug
  .section__title.section__title_arrow
    .title
      .title__background
        +icon('works_header', 'title__background-icon')
      .title__title Мои работы
  section.section.works
    .works__left
      .works__title
        .subtitle Сайт школы онлайн образования
      .works__tech 
        .works__tech-desc HTML, CSS, JavaScript
      .works__link
        a(href="#").link__link
          +icon('link','link__icon')
          | Просмотреть сайте
    .works__right
      .slider
        .slider__main
          .slider__main-img-wrap
            img(src="./assets/images/works/work-1.png", alt="").slider__main-img-img
        .slider__down
          img(src="./assets/images/works/work-2.png", alt="").slider__preveiw
          .slider__filter
            .slider__arrow_down
              +icon('arrow_down','slider__arrow-icon')
        .slider__up
          img(src="./assets/images/works/work-3.png", alt="").slider__preveiw
          .slider__filter
            .slider__arrow_up
              +icon('arrow_down','slider__arrow-icon')
