extends ../main.layout.pug

block variables
  - var title = 'Мои работы'

block scripts
  script(src='works.bundle.js')

block content
  section
    include ../common/hero.pug
  .section__title.section__title_arrow
    .title
      .title__background
        +icon('works_header', 'title__background-icon')
      .title__title Мои работы
  section.section.works
    #slider-component
              
  
  section.section.works__reviews
    .section__title.section__title_background_transparent
      .title
        .title__background
          +icon('about_header', 'title__background-icon')
        .title__title Что обо мне говорят
    .review
      ul.review__list
        li.review__item
          +icon('quote-left','review__item-icon')
          .review__desc
            p
              | Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессоных ночей!
          .review__user
            .avatar.avatar_reviews
              img.avatar__img(src="./assets/images/photo/dmitriy.png", alt="")
            .review__user-name
              .review__desc-name Ковальчук Дмитрий
              .review__desc-text основатель LoftSchool
        li.review__item
          +icon('quote-left','review__item-icon')
          .review__desc
            p
              | Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
          .review__user
            .avatar.avatar_reviews
              img.avatar__img(src="./assets/images/photo/vladimir.jpg", alt="")
            .review__user-name
              .review__desc-name Собанцев Владимир
              .review__desc-text Преподаватель
    .section__feedback#section__feedback
      .feedback
        .feedback__blur#feedback__blur
        .feedbacl__form
          form(method="post").form#feedback
            .form__title
              .subtitle Связаться со мной
            .form__row
              input(type="text" name="name" placeholder="Имя").form__cont#feedbackName
            .form__row
              input(type="text" name="email" placeholder="Email").form__cont#feedbackEmail
            .form__row
              textarea(name="message" rows="8" cols="80" placeholder="Ваше сообщение").form__mesage#feedbackMessage
            .form__row
              input(type="submit" name="send" value="Отправить").form__button#feedbackSend
              button(type="button" name="clear").form__button#feedbackClear Очистить
      .button-up
        .button-up__icon
          +icon('arrow_down','button-up__icon-icon')
