.hamburger-wrap
  .hamburger-wrap_right
  .hamburger-wrap_left
  ul.hamburger__menu
    li.hamburger__item
      a(href="./works.html").hamburger__link
        .title.title_color_white
          .title__title.title__title_menu Мои работы
    li.hamburger__item
      a(href="./blog.html").hamburger__link
        .title.title_color_white
          .title__title.title__title_menu Блог
    li.hamburger__item
      a(href="./about.html").hamburger__link
        .title.title_color_white
          .title__title.title__title_menu Обо мне
    li.hamburger__item
      a(href="./index.html").hamburger__link
        .title.title_color_white
          .title__title.title__title_menu Авторизация
