.preload#preload
  .preload__wrap
    #preload-percent 0%
    svg(viewBox="0 0 100 100").preload__icon
      circle(cx="50" cy="50" r="40" ref="circle").preload__icon-circle.preload__icon-circle_one
      circle(cx="50" cy="50" r="35" ref="circle").preload__icon-circle.preload__icon-circle_two
      circle(cx="50" cy="50" r="30" ref="circle").preload__icon-circle.preload__icon-circle_three
