include ./common/_mixins

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="icon" href="../assets/images/fav_mount.png" type="image/x-icon")
    title Portfolio | welcome page
    link(rel="stylesheet", href="main.min.css")
  body
    
    block content
    
    include ./common/preload.pug

    script(src="auth.bundle.js")
