.about {
  position: relative;
  height: auto;
}
.section__title_arrow_about {
  &:before{
    background: linear-gradient(90deg, #efeee9 50%, #eeebdf 0);
  }
}
.about__left, .about__right {
  display: flex;
  min-height: 100%;
  width: 50%;
}

.about__left {
  background-color: #efeee9;
}

.about__right {
  background-color: #eeebdf;
  flex-direction: column;
}
.about__title{
  margin: -10px 0 0 63px;
}
.about__about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}
.photo__wrap{
  width: 434px;
  height: 388px;
  overflow: hidden;
}
.photo__img{
  width: 100%;
}

.about__desc{
  margin-top: 28px;
}
.about__text {
  padding: 27px 35px 0;
}

.about__right-desc {
  margin-top: 20px;
  padding: 0 50px 0 39px;
}

.about__skills {
  margin-top: 44px;
  padding-left: 38px
}

.map {
  position: relative;
}

.yandex__map {
  width: 100%;
  margin-bottom: -200px;
}
