.about {
  position: relative;

  @include desktophd {
    min-height: 800px;
  }
  @include desktop {
    min-height: 800px;
  }
  @include tablet {
    min-height: auto;
    height: auto;
    flex-direction: column;
  }
}
.section__title_arrow_about {
  &:before{
    background: linear-gradient(90deg, #efeee9 50%, #eeebdf 0);

    @include tablet {
      background: linear-gradient(90deg, #efeee9 50%, #efeee9 0);
    }
  }
}
.about__left, .about__right {
  display: flex;
  min-height: 100%;
  width: 50%;

  @include tablet {
    width: 100%;
  }
}

.about__left {
  background-color: #efeee9;

  @include desktop {
    flex-direction: column;
    align-items: center;
  }
}

.about__right {
  background-color: #eeebdf;
  flex-direction: column;
}
.about__title{
  display: inline-block;
  margin-top: -10px;
  width: 50%;

  @include desktop {
    width: 100%;
  }
  @include tablet {
    margin-top: 30px;
  }

  @include phone {
    margin-top: 20px;
  }
}
.about__about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;

  @include desktop {
    width: 73%;
  }
  @include tablet {
    width: 62%;
    margin-top: 35px;
  }
  @include phone {
    margin-top: 10px;
    width: 100%;
  }
}

.about__photo {
  width: 100%;

  @include desktop {
    margin-bottom: 20px;
  }

  @include tablet {
    margin-bottom: 35px;
  }

  @include phone {
    margin-bottom: 20px;
  }
}
.photo__wrap{
  width: 95%;
  overflow: hidden;

  @include desktop {
    width: 100%;
  }

  @include tablet {
    max-height: 417px;
  }
  @include phone {
    max-height: 290px;
  }
}
.photo__img{
  width: 100%;
}

.about__desc{
  @include phone {
    width: 95%;
  }
}
.about__text {
  padding: 27px 0;

  @include phone {
    padding: 10px 0 5px 0;
    font-size: 14px;
  }
}
.about__right-title {
  text-align: center;
  margin: 0 auto;

  @include tablet {
    margin-top: 25px;
    width: 73%;
    font-size: 14px;
  }

  @include phone {
    width: 95%;
  }
}
.about__right-subtitle {
  margin: 0 auto;
  width: 340px;

  @include tablet {
    width: 310px;
  }
  @include phone {
    width: 220px;
  }
}

.about__right-desc {
  margin-top: 20px;
  padding: 0 50px 0 39px;
  text-align: left;

  @include tablet {
    margin-top: 5px;
    padding: 0;
    text-align: center;
  }
}

.about__skills {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  padding-left: 38px;

  @include tablet {
    padding: 0;
  }
}

.map {
  position: relative;

  @include phone {
    flex-direction: column;
    height: auto;
    min-height: auto;
  }
}

.yandex__map {
  width: 100%;
  margin-bottom: -200px;

  @include phone {
    height: 100vh;
    min-height: 100vh;
  }
}
