.contact{
  position: absolute;
  display: inline-block;
  width: 380px;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: rgba(255,255,255, .85);
  padding: 26px 40px;
  border-radius: 5px;
  overflow: hidden;

  @include tablet {
    width: 345px;
    padding: 20px 30px;
  }
  @include phone {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    padding: 20px 0 0 0;
    width: 95%;
    margin: 0 auto;
  }
}

.contact__list{
  margin: 30px 0px 0px 0px;

  @include phone {
    margin-top: 20px;
  }
}

.contact__item {

  @include tablet {
    margin: 20px 0;
  }
}
.contact__link{
  color: $text-color;
  font-weight: 500;
  display: flex;
  margin: 17px 0px 17px 0px;
  transition: color .3s;

  &:hover{
    color: $green;
    .contact__item-icon {
      fill: $text-color;
    }
  }
}

.contact__item-icon{
 width: 25px;
 height: 25px;
 fill: $green;
 margin: 0px 9px 0px 0px;
 transition: fill .3s;
}
