.form {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  @include tablet {
    font-size: 14px;
  }
}
.form__title {
  margin-bottom: 20px;
}
.form__row {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }
}
.form__cont {
  padding: 12px 17px;
  border: 1px solid transparent;
  outline: none;
  border-radius: 5px;
  width: 340px;
  color: $text-color;
  &::placeholder{
    color: rgba(55,62,66, .3);
  }

  &:focus {
    border: 1px solid #000;
  }

  @include tablet {
    width: 310px;
    padding: 13px 18px;
  }

  @include phone {
    width: 85%
  }
}
.form__mesage {
  padding: 12px 17px;
  width: 340px;
  height: 140px;
  border-radius: 5px;
  border: 1px solid transparent;
  outline: none;
  resize: none;
  color: $text-color;

  &::placeholder {
    color: rgba(55,62,66, .3);
  }

  &:focus {
    border: 1px solid #000;
  }

  @include tablet {
    width: 310px;
  }

  @include phone {
    width: 85%;
  }
}

.form__button {
  flex: 1;
  margin: 0;
  padding: 13px 0;
  border: none;
  background-color: rgba(0,191,165, .85);
  color: #fff;
  font-weight: 500;
  transition: background-color .3s;
  cursor: pointer;

  &:first-child {
    border-right: 1px solid rgba(222,227,231, .5);
  }

  &:hover {
    background-color: rgba(0,191,165, .3);
  }

  @include tablet {
    font-size: 14px;
  }
}
