.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // background: url('./assets/images/bg/page_bg.jpg') center center no-repeat;
  // background-size: cover;
  position: relative;
  overflow: hidden;
  user-select: none;

  @include phone {
    min-height: 100%;
  }
}

.hero__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}
.header__socials {
  margin: 16px 0 0 18px;

  @include tablet {
    margin: 16px 0 0 14px;
  }

  @include phone {
    margin: 0;
  }
}
.hero__hamburger {
  margin: 26px 26px 0 0;

  @include tablet {
    margin: 26px 22px 0 0;
  }

  @include tablet {
    margin: 0px 5px 0 0;
  }
}
.hamburger__icon {
  width: 40px;
  height: 35px;
  cursor: pointer;
  fill: rgba(255,255,255, .5);
  position: relative;
  z-index: 200;

  .hamburger__icon-top, .hamburger__icon-bottom, .hamburger__icon-center {
    transition: transform .3s, fill .3s;
  }
  .hamburger__icon-top {
    transform-origin: top;
  }
  .hamburger__icon-bottom {
    transform-origin: bottom;
  }

  &:hover{
    fill: rgba(255,255,255, 1);
  }

  @include phone {
    width: 36px;
    height: 22px;
  }
}

.hamburger__icon_active {
  fill: rgba(255,255,255, .8);
  .hamburger__icon-center{
    fill: rgba(255,255,255, 0);
  }
  .hamburger__icon-top {
    transform: translateY(45%) rotate(45deg);
    transform-origin: top
  }
  .hamburger__icon-bottom {
    transform: translateY(-45%) rotate(-45deg);
    transform-origin: bottom;
  }
}

.hero__user {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
  user-select: text;

  @include phone {
    width: 100%;
    top: 39%;
  }
}
.user__info {
  text-align: center;

  @include phone {
    margin-top: 27px;
    font-size: 14px;
  }
}

.user__info_margin {
  margin-top: 10px;
}

.user__desc {
  text-align: center;
}

.hero__decor{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 70%;
  height: 100%;

  @include phone {
    display: none;
  }
}

.hero__decor-icon{
  height: 100%;
  width: 100%;
  fill: rgba(255,255,255, .06);
  margin: auto 0;
}

.hero__arrow{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 62px;
  padding: 10px;
  cursor: pointer;

  &:hover{
    .hero__arrow-icon {
      fill: rgba(255,255,255, 1);
    }
  }

  @include phone {
    bottom: 58px;
  }
}

.hero__arrow-icon{
  width: 27px;
  height: 17px;
  fill: rgba(255,255,255, .7);
  transition: fill  .3s;

  @include phone {
    width: 26px;
    height: 16px;
  }
}
