.section__title{
  position: relative;
  padding: 44px 0 50px 0;
  background-color: #faf8f0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.section__title_arrow{
  &:before{
    content: '';
    position: absolute;
    height: 160px;
    width: 100%;
    left: 0;
    top: -160px;
    background-color: #faf8f0;
    clip-path: polygon(50% 97%, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
.section__title_arrow_blog{
  &:before{
    background: #fff;
  }
}
.title__title{
  max-width: 380px;
}
.section__title_background_transparent{
  background-color: transparent;
}
