.section__title {
  position: relative;
  padding: 44px 0 50px 0;
  background-color: #faf8f0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @include tablet {
    padding: 31px 0 34px 0;
  }

  @include phone {
    padding: 8px 0 28px 0;
  }
}
.section__title_arrow {
  &:before {
    content: '';
    position: absolute;
    height: 161px;
    width: 100%;
    left: 0;
    top: -159px;
    background-color: #faf8f0;
    clip-path: polygon(50% 97%, 100% 0, 100% 100%, 0 100%, 0 0);

    @include desktop {
      height: 111px;
      top: -109px;
    }

    @include tablet {
      height: 71px;
      top: -69px;
    }

    @include phone {
      height: 31px;
      top: -29px;
    }
  }
}
.section__title_arrow_blog{
  &:before{
    background: #fff;
  }
}
.title__title{
  max-width: 380px;

  @include tablet {
    max-width: 100%;
  }
}
.section__title_background_transparent{
  background-color: transparent;
}
