.section__title{
  position: relative;
  padding: 60px 0;
  background-color: #faf8f0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.section__title_arrow{
  &:before{
    content: '';
    position: absolute;
    height: 100px;
    width: 100%;
    left: 0;
    top: -100px;
    background-color: #faf8f0;
    clip-path: polygon(50% 97%, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
