.slider {
  height: 100%;
  width: 100%;
  background-color: #f0efe9;
  display: grid;
  grid-template:
    "info display" 70%
    "info buttons" 30%
    / 1fr 1fr;

  @include tablet {
    height: auto;
    grid-template:
      "display" 528px
      "info" 270px
      "buttons" 215px
      / 1fr;
  }

  @include phone {
    height: auto;
    grid-template:
      "display" 260px
      "info" 218px
      "buttons" 93px
      / 1fr;
  }
}

.slider__info {
  grid-area: info;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include tablet {
    font-size: 14px;
    padding-bottom: 20px;
  }

  @include phone {
    font-size: 13px;
    padding-bottom: 0;
  }
}

.slider__display {
  grid-area: display;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.slider__buttons {
  grid-area: buttons;
  display: flex;
  user-select: none;
}

.works__title{
  max-width: 365px;

  @include tablet {
    max-width: 100%;
  }
}

.works__tech{
  margin: 21px auto 40px auto;
  width: 420px;

  @include tablet {
    margin: 10px auto 20px auto;
  }

  @include phone {
    width: 100%;
  }
}
.works__tech-desc{
  color: $green;
  border-top: solid 1px $green;
  border-bottom: solid 1px $green;
  padding: 15px 0px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;

  @include phone {
    padding: 6px 0;
  }
}

.link__link{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 10px 12px 17px;
  color: #fff;
  background-color: rgba(0,191,165, .8);
  border-radius: 5px;
  font-weight: 500;
  transition: background-color .3s;

  &:hover{
    background-color: $green;
  }

  @include phone {
    padding: 10px 12px 10px 22px;
  }
}
.link__icon{
  width: 22px;
  height: 22px;
  fill: #fff;
  margin-right: 10px;

  @include phone {
    width: 20px;
    height: 20px;
  }
}

.slider__display{
  background-color: #efebe0;
}
.slider__main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 100%;
  overflow: hidden;
}
.slider__main-img-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
.slider__main-img-img{
  width: 50%;
}
.slider__button{
  width: 50%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.slider__preveiw{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}
.slider__preveiw-img{
  width: 50%;
}

.slider__filter{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(182,180,174, .7);
  transition: background-color .3s;
  cursor: pointer;


  &:hover{
    background-color: rgba(136,131,114, .5);
  }
}
.slider__arrow-icon{
  width: 40px;
  height: 40px;
  fill: #fff;
}
.slider__arrow_up{
  transform: rotate(180deg);
}
