.works__title{
  max-width: 365px;
}

.works__tech{
  margin: 21px auto 40px auto;
  width: 420px;
}
.works__tech-desc{
  color: $green;
  border-top: solid 1px $green;
  border-bottom: solid 1px $green;
  padding: 15px 0px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

.link__link{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 10px 12px 17px;
  color: #fff;
  background-color: rgba(0,191,165, .8);
  border-radius: 5px;
  font-weight: 500;
  transition: background-color .3s;

  &:hover{
    background-color: $green;
  }
}
.link__icon{
  width: 22px;
  height: 22px;
  fill: #fff;
  margin-right: 10px;
}

.slider{
  background-color: #efebe0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.slider__main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 100%;
  overflow: hidden;
}
.slider__main-img-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
.slider__main-img-img{
  height: 100%;
}
.slider__button{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 30%;
  overflow: hidden;

}
.slider__preveiw{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}
.slider__preveiw-img{
  height: 100%;
}

.slider__filter{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(182,180,174, .7);
  transition: background-color .3s;
  cursor: pointer;


  &:hover{
    background-color: rgba(136,131,114, .5);
  }
}
.slider__arrow-icon{
  width: 40px;
  height: 40px;
  fill: #fff;
}
.slider__arrow_up{
  transform: rotate(180deg);
}
